body {
	background-color: #d0d8dc;
	font-family: sans-serif, Arial, Verdana;
	margin: 0;
	color: #70787c;
}
a:-webkit-any-link,
a:link {
	text-decoration: none;
	color: inherit;
}
form {
	margin-bottom: 0;
}
table {
	display: inline-block;
}
label {
	color: #70787c;
}
textarea, input, select {
	border-radius: 6px;
	color: #666;
	background-color: #d0d8dc;
	border: none;
	margin: 4px;
	padding: 6px 12px;
}
textarea:focus, input:focus, select:focus {
	outline: none;
	color: #222;
	box-shadow: 0 0 5px #248;
}
input[type=submit]:focus {
	box-shadow: none;
	box-shadow: 0 0 5px #f66;
}
input[type=submit] {
	border-radius: 6px;
	background-color: #f66;
	color: #fff;
	font-weight: bold;
	border: none;
	padding: 6px 16px;
	margin: 12px;
	outline: none;
}


/* LIST */
ul {
	margin-top: 20px;
}
li+li {
	border-top: 1px solid #e0e8ec;
}
li {
	display: inline-block;
	width: 95%;
}
.info {
	display: block;
	position: absolute;
	width: 320px;
	margin-left: 80px;
	margin-top: 6px;
}
.inner_info {
	position: relative;
	padding: 20px;
	min-height: 64px;
}
.avatar {
	position: absolute;
	width:64px;
	height:64px;
	background-color: #d0d8dc;
	border-radius: 20px 20px 0px 20px;
	border: none;
}


/* CONTENT */
#content {
	top:120px;
	width: 948px;
	margin: auto;
	position: relative;
}
#main {
	display: block;
	width: 689px;
	float:left;
	min-height: 24px;
	border-radius: 0px 24px 0px 24px;
	background-color: #fff;
	margin-bottom:20px;
}
#sidebar {
	display: block;
	width: 230px;
	min-height: 320px;
	float:left;
	margin-left: 28px;
}
.filters {
	display: block;
	position: relative;
	width: 100%;
	min-height: 320px;
	margin-bottom: 20px;
	border-radius: 0px 24px 0px 24px;
	background-color: #fff;
}
.addbtn {
	display: block;
	position: relative;
	width: 90%;
	padding: 5%;
	margin-bottom: 20px;
	border-radius: 6px;
	background-color: #48f;
	font-weight: bold;
	color:#fff;
	font-size: 20px;
	text-align: center;
}
#add_to_cart {
	background-color: #f84;
}


/* HEADER */
#header {
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 10px;
	background-color: #FFF;
	min-height: 80px;
	width: 100%;
	color: #d0d8dc;
	-webkit-box-shadow: 0 8px 6px -6px #999;
	   -moz-box-shadow: 0 8px 6px -6px #999;
	        box-shadow: 0 8px 6px -6px #999;
}
.inner {
	width: 60%;
	min-width: 800px;
	margin: auto;
	position: relative;
	padding: 1px;
}
#site_logo {
	display: block;
	width: 128px;
	height: 48px;
	position: absolute;
	top: 10px;
	left: 0;
	background:  url('/img/CEE.gif') no-repeat center;
	background-size: 128px 48px;
}
.top_menu a+a {
	border-left: 1px solid #d0d8dc;
}
.top_menu a:hover {
	color: #89b;
}
.top_menu a {
	display: inline-block;
	color: #568;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	padding: 12px 10px;
}
.top_menu {
	display: inline-block;
	margin-left: calc(50% - 240px);
	padding: 10px 10px;
}
.top_right_tools {
	display: block;
	position: absolute;
	top: 16px;
	right: 6px;
}
.top_right_tools a+a {
	border-left: 1px solid #d0d8dc;
}
.top_right_tools a {
	text-decoration: none;
	font-weight:bold;
	padding: 0 10px;
	color: #568;
}
.top_right_tools a:hover {
	color: #89b;
}
.top_manage_menu .menu_head .avatar {
	top: 8px;
	left:16px;
	width:32px;
	height:32px;
}
.top_manage_menu .menu_head {
	border-radius: 6px 6px 0px 0px;
	padding: 16px 16px;
	margin-left: 48px;
}
.top_manage_menu .menu_head:hover {
	cursor: pointer;
	color:#fff;
}
.top_manage_menu .menu_option {
	padding: 6px 16px;
	border-top: 1px solid #89b;
}
.top_manage_menu .menu_option:hover {
	cursor: pointer;
	background-color: #89b;
	color:#fff;
}
.top_manage_menu .menu_option:last-child {
	border-radius: 0px 0px 6px 6px;
}
.top_manage_menu {
	display: none;
	position: absolute;
	background-color: #568;
	top: 64px;
	right: 16px;
	border-radius: 6px;
}
.top_arrow {
	position: absolute;
	top:-16px;
	right: 16px;
	width: 0;
	height: 0;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #568;
	border-left: 16px solid transparent;
}

/* COVER */
#cover {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	display: block;
}
.dialog {
	position: fixed;
	top: calc(50% - 230px);
	left: calc(50% - 210px);
	width: 360px;
	border-radius: 0 92px 0 92px;
	background-color: #fff;
	text-align: center;
	padding:32px;
	color: #568;
	font-size:24px;
	-webkit-box-shadow: 0 8px 6px -6px #333;
	   -moz-box-shadow: 0 8px 6px -6px #333;
	        box-shadow: 0 8px 6px -6px #333;
}
.required {
	display: none;
	color: #f66;
	font-size: 12px;
}
.escape_info {
	position:absolute;
	color:grey;
	font-size: 12px;
	bottom:12px;
}
