{extends file="../home/view.html"}

{block name="content"}
	<div id="content">
		<div id="side_menu_bar">
			<div class="menu_head">
				<img class="avatar" src="img/avatar.jpg" />
				Name Lastname
			</div>
			<div class="menu_option">
				My profile
				<div id="right_arrow"></div>
			</div>
			<div class="menu_option">
				My account
			</div>
			<div class="menu_option">
				My privacy
			</div>
			<div class="menu_option">
				My cart
			</div>
		</div>
		<div id="main_form">
		</div>
	</div>
{/block}
