{*
 *	This file Must be extended for all templates as it contains required smarty
 *	references that allow JS and CSS loading from controllers
 *}
<html>
	<head>
		{foreach $CSS_FILES as $CSS_FILE}
		<link rel="stylesheet" type="text/css" href="{$CSS_FILE}"/>
		{/foreach}
		{foreach $JS_FILES as $JS_FILE}
		<script type="text/javascript" src="{$JS_FILE}"></script>
		{/foreach}
		{block name="head"}
		{/block}
	</head>
	<body>
		{block name="body"}
		{/block}
		{block name="header"}
		{/block}
	</body>
</html>
