{extends file="../base_layout.html"}

{block name="head"}
<link rel="stylesheet" type="text/css" href="css/main.css" />
{/block}

{block name="header"}
	<div id="header">
		<div class="inner">
			<div id="site_logo"></div>
			<div class="top_menu">
				<a href="">Associations</a>
				<a href="">Students</a>
				<a href="">Offers</a>
				<a href="">Companies</a>
			</div>
		</div>
		<div class="top_right_tools">
			<a href="" class="toolbar_log_button">{if $current_user && $current_user->logged}Logout{else}Login{/if}</a>
			{if !$current_user || !$current_user->logged}<a href="" class="toolbar_register_button">Register</a>{/if}
		</div>
	</div>
{/block}

{block name="content"}
	<div id="content">
		<div id="main">
		</div>
		<div id="sidebar">
			<div class="addbtn" id="new_association">New Association</div>
			<div class="addbtn" id="new_company">New Company</div>
			<div class="filters"></div>
			<div class="addbtn" id="add_to_cart">Add to my cart</div>
		</div>
	</div>
{/block}
