{extends file="../base_layout.tpl.html"}

{block name="head"}
<link rel="stylesheet" type="text/css" href="css/main.css" />
{/block}

{block name="header"}
	<div id="header">
		<div class="inner">
			<div id="site_logo"></div>
			<div class="top_menu">
				<a href="">Etudiants</a>
				<a href="">Offres</a>
				<a href="">Entreprises</a>
			</div>
		</div>
		<div class="top_right_tools">
			<a href="" class="toolbar_log_button">{if $user && $user->isLoggedIn()}Logout{else}Login{/if}</a>
			{if !$user || !$user->isLoggedIn()}<a href="" class="toolbar_register_button">Register</a>{/if}
		</div>
	</div>
{/block}

{block name="body"}
	<div id="bodyframe">
	</div>
{/block}

{block name="dialog"}
	<div id="cover">
		<div class="dialog">
			<b>Register</b><br /><br />
			<form>
				<table>
					<tr>
						<td><label>I am a</label></td>
						<td>
							<select name="profile">
								<option>Student</option>
								<option>Recruiter</option>
								<option>Association</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><label>Firstname</label></td>
						<td><input type="text" name="firstname" /></td>
					</tr>
					<tr>
						<td><label>Lastname</label></td>
						<td><input type="text" name="lastname" /></td>
					</tr>
					<tr>
						<td><label>Email</label></td>
						<td><input type="text" name="email" /></td>
					</tr>
				</table><br />
				<input id="register" type="button" value="Register" />
			</form>
		</div>
	</div>
{/block}
