{extends file="../base_layout.html"}

{block name="head"}
<link rel="stylesheet" type="text/css" href="css/main.css" />
{/block}

{block name="header"}
	<div id="header">
		<div class="inner">
			<div id="site_logo"></div>
			<div class="top_menu">
				<a href="">Associations</a>
				<a href="{$home_link}">Members</a>
				<a href="">Offers</a>
				<a href="">Companies</a>
			</div>
			<div class="top_right_tools">
			{if $current_user && $current_user->logged}
				<a href="" class="toolbar_logout_button">Logout</a><a href="" class="toolbar_manage_button">Manage</a>
			</div>
			{include file='./helpers/manage_menu.html'}
			{else}
				<a href="" class="toolbar_login_button">Login</a><a href="" class="toolbar_register_button">Register</a>
			</div>
			{/if}
		</div>
	</div>
{/block}

{block name="content"}
	<div id="content">
		<div id="main">
			{include file='./helpers/members_list.html'}
		</div>
		<div id="sidebar">
			<div class="addbtn" id="new_association">New Association</div>
			<div class="addbtn" id="new_company">New Company</div>
			<div class="filters"></div>
			<div class="addbtn" id="add_to_cart">Add to my cart</div>
		</div>
	</div>
{/block}
