{extends file="../base_layout.html"}

{block name="head"}
<link rel="stylesheet" type="text/css" href="css/main.css" />
{/block}

{block name="header"}
	<div id="header">
		<div class="inner">
			<div id="site_logo"></div>
			<div class="top_menu">
				<a href="">Etudiants</a>
				<a href="">Offres</a>
				<a href="">Entreprises</a>
			</div>
		</div>
		<div class="top_right_tools">
			<a href="" class="toolbar_log_button">{if $user && $user->isLoggedIn()}Logout{else}Login{/if}</a>
			{if !$user || !$user->isLoggedIn()}<a href="" class="toolbar_register_button">Register</a>{/if}
		</div>
	</div>
{/block}

{block name="body"}
	<div id="bodyframe">
	</div>
{/block}
