<form>
	<b>Register</b><br /><br />
	<table>
		<tr>
			<td><label>I am a</label></td>
			<td>
				<select name="profile">
					<option value="0">Choose a profile</option>
					<option value="1">Student</option>
					<option value="2">Recruiter</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><label>Firstname</label></td>
			<td><input type="text" name="firstname" /></td>
		</tr>
		<tr>
			<td><label>Lastname</label></td>
			<td><input type="text" name="lastname" /></td>
		</tr>
		<tr>
			<td><label>Email</label></td>
			<td><input type="text" name="email" /></td>
		</tr>
		<tr>
			<td><label>Password</label></td>
			<td><input type="password" name="password" /></td>
		</tr>
	</table><br />
	<input id="register" type="submit" value="Register" />
</form>
